body {
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 1.5rem 0;
}

.grid-con {
    margin-bottom: 2rem;
}

header, footer {
    text-align: center;
    border-radius: 15px;
}

header {
    padding: 1.5rem;
}

footer {
    padding: 2rem;
}

object:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

#gallery h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#gallery > div{
    //background-color: cyan;
    text-align: center;
    margin-bottom: 1.2rem;
    height: max-content;
}

#gallery p{
    visibility: hidden;
    max-height: 0;
    text-align: left;
}

#gallery object{
    /*max-height: 150px;*/
    margin-bottom: 1.2rem;
}

#gallery object:hover + p {
    visibility: visible;
    max-height: 1.2rem;
}